body {
    margin: 0 auto;    
    width: 1440px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0em;    
}
a {
    text-decoration: none;
}

/* ШАПКА САЙТА */

header {
    height: 73px;
    display: flex;
    justify-content: space-between;
}

.header-logo, .header-navigation, .header-login {
    display: flex;
}

.header-navigation {
    margin-left: 580px;
    align-items: center;
}

.header-logo {
    margin: 22px 0 9px 75px;
}

.header-navigation li {
    display: inline-block;
}

.header-navigation a {
    padding: 10px;
    margin: 12px;
    color: #1B365D;
    font-size: 16px;
    line-height: 21.44px; 
}

.header-login {
    margin-right: 104px;
    margin-left: 100px; 
    border: 1px solid #A7BBC9;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: center;
    justify-content: center;
    align-items: center;    
    font-size: 11px;
    line-height: 17px;

}
.header-login a {
    padding: 6px 25px 5px 25px;
    color: #1B365D;
    font-size: 11px;
    line-height: 17px;
    font-weight: bold; 
}

/* блок со счастливой семьёй - Introduction */
.intro-background-happy-family {
    height: 696px;
    width: 1440px;
    background-image: url("files/2. introduction/familyBG.png");
    display: flex;    
}
.intro-wrapper {
    margin: 195px 948px 0 88px;
    width: 420px;
    height: 310px;
    display: flex;
    flex-wrap: wrap;
}
.intro-wrapper p:first-of-type {  
    width: 420px;
    height: 185px;
    margin: 0;
    color: #1B365D;
    font-weight: bold;
    font-size: 56px;
    line-height: 61.6px;
}
.intro-wrapper p:last-of-type {    
    color: #434140;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.intro-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-watch-the-demo {
    width: 186px;
    height: 46px;
    background-color: white;
    border: 1px solid white;
    border-radius: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-buttons-wrapper a {
    margin-left: 27px;
    color: #1B365D;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
.intro-watch-the-demo a {
    margin-right: 27px;
    color: #1B365D;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
/* малый розовый блок со спецпредложением  */
.small-pink-block {
    width: 499px;
    height: 86px;
    margin-top: -64px;
    background-color: #F1C0C7;
    display: flex;
    align-items: center;
}
.small-pink-block img {
    width: 86px;
    height: 54px;
    margin-left: 88px;
}
.small-pink-block-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
}
.small-pink-block-text-wrapper span:nth-child(1) {
    color: #1B365D;    
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}
.small-pink-block-text-wrapper span:nth-child(2) {
    color: #1B365D;    
    font-size: 14px;
    line-height: 20px;
}
/* виды устройств Portal */
.devices-wrapper {
    margin: 91.66px 88px 28.28px 88px;
}

.devices {
    display: flex;
    justify-content: space-between;
}
.device-card {
    height: 587px;
    width: 304px;
    display: flex;
    justify-content: center;    
    align-items: end;
}
.device-portalTV {
    background-image: url("/files/4. PortalDevices/RectanglePortalTV.jpg");
}
.device-portal {
    background-image: url("/files/4. PortalDevices/RectanglePortal.jpg");
}
.device-portalPlus {
    background-image: url("/files/4. PortalDevices/RectanglePortal+.jpg");
}
.device-portalMini {
    background-image: url("/files/4. PortalDevices/RectanglePortalMini.jpg");
}

.device-description {
    list-style: none;    
    padding: 0;
    text-align: center;
}

.device-description li {
    
}
.device-description li:nth-child(1) {
    margin-bottom: 1px;
    color: white;    
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.device-description li:nth-child(2) {    
    color: white;    
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
}
.device-description li:nth-child(3) {
    margin-bottom: 15px;
    color: white;
    font-weight: 500; 
    font-size: 15px;
    line-height: 21px;
}
.device-description li:nth-child(4) {
    margin-bottom: 32px;
}
.device-description li a {      
    color: white;    
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

/* раздел про умную камеру Smart Camera */

.smart-camera {
    background-size: 1000px;
    background-image: linear-gradient(white 51%, #D0E8EA 51%);
}
.smart-camera h2 {
    margin: 0 0 35px 88px;
    display: inline-block;
    width: 720px;
    height: 110px;    
    color: #1B365D;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
}
.smart-camera img {
    width: 1264px;
    height: 632px;
    margin: 0 88px 0 88px;
    z-index: 2;
}
.smart-camera-text-card:first-child {
    margin-left: 178px;
    width: 357px;
    display: inline-block;    
}
.smart-camera-text-card:last-child {
    margin-left: 159px;
    width: 357px;
    display: inline-block;
    
}
.smart-camera-text-card h3 {
    color: #1B365D;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
}
.smart-camera-text-card p:first-child {
    margin: 0;
    margin-top: 10px;
    display: inline-block;    
    color: #434141;    
    font-size: 17px;
    line-height: 23px;
}
.smart-camera-text-card p:last-child {
    margin-top: 15px;
    margin-bottom: 50px;
}
.smart-camera-text-card a {    
    color: #1B365D;    
    font-size: 14px;
    line-height: 20px;
}

/* раздел про открытый мессенджер, Мессенджер и Вацап */
.messengers-section {
    display: flex;
}
.messenger-opened {
    margin: 0 57px 114.55px 88px;
}
.messengers-wrapper {
    width: 505px;
    height: 632px;
}
.messengers-icon-wrapper {
    display: flex;
}
.Messenger-icon {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    background-color: #1990FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Messenger-icon img {
    width: 24px;
    height: 24px;
}
.WhatsApp-icon {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 16px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.WhatsApp-icon img {
    width: 24px;
    height: 24px;
}
.messengers-wrapper h2 {
    margin: 0;
    margin-top: 15px;
    width: 470px;    
    color: #1B365D;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
}
.messengers-wrapper p:first-of-type {
    margin-top: 20px;
    display: inline-block;
    width: 485px; 
    color: #434141;    
    font-size: 17px;
    line-height: 23px;    
}
.messengers-wrapper p:last-of-type {    
    display: inline-block;
    width: 505px; 
    color: #AEABA8;    
    font-size: 11px;
    line-height: 18px;
}
.messengers-wrapper p:last-of-type a {    
    text-decoration: underline;
    width: 505px; 
    color: #AEABA8;    
    font-size: 11px;
    line-height: 18px;
}
/* секция Story  */
.story-section {
    background-image: url("/files/7.Story time/story_time_background.jpg");
    height: 720px;
    display: flex;
}
.story-wrapper {
    margin: 325px 0 56.1px 59px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
}
.story-blue-line {
    width: 4px;
    height: 216px;
    background-image: linear-gradient(#ADD4E0 204px, #615E5C 204px);
    border-radius: 0 0 4px 4px;
}

.story-main-text-wrapper {
    margin-left: 24px;
}
.story-main-text-wrapper h2 {
    margin: 0;    
    width: 450px;    
    color: white;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
}
.story-main-text-wrapper p {
    margin-bottom: 23px;
    width: 430px;
    color: white;    
    font-size: 17px;
    line-height: 23px;
}
.story-main-text-wrapper a {    
    color: white;    
    font-size: 14px;
    line-height: 20px;
}
.story-quotes-wrapper {
    margin-top: 56.1px;
}
.story-quote {
    display: flex;
    margin-bottom: 16px;
}

.story-short-gray-line {
    width: 4px;
    height: 22px;
    background-color: #615E5C;
    border-radius: 4px;
}

.story-quote-text {
    margin-left: 24px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
}
/* раздел про Алексу */
.alexa-section {
    display: flex;
}
.alexa-section img {
    
}
.alexa-info-wrapper {
    margin: 89.52px 7px 46px 88px;
    width: 416px;
}
.alexa-info-wrapper h2 {
    margin: 0;
    margin-top: 13px;
    width: 416px;    
    color: #1B365D;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
}
.alexa-info-wrapper p {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 46px;
    font-size: 17px;
    line-height: 23px;
    color: #615E5C;
}
.alexa-learn-more {
    width: 127px;
    height: 46px;
    background-color: #ADD4E0;    
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alexa-learn-more a {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #1B365D;
    padding: 11px 26px 11px 26px;
}
.alexa-figure {
    margin-top: 89.52px;
    margin-bottom: 52px;
}
.alexa-figcaption {
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #AEABA8;
}
/* раздел про аппаратные встроенные преимущества - hardware advantages. пожалуй не стоило делать такой длинный префикс */
.hardware-advantages-section {
    height: 622px;
    background-image: linear-gradient(white 50%, #D0E7EA 50%);    
}
.hardware-advantages-wrapper {
    margin: 0 88px;
    display: flex;
    justify-content: space-between;
}
.hardware-advantages-card1 {
    width: 622px;
    height: 622px;
    background-image: url("/files/9.Hardware-Advantages/private-by-design.jpg");
}
.hardware-advantages-card2 {
    width: 622px;
    height: 622px;
    background-image: url("/files/9.Hardware-Advantages/work-smarter-from-home.jpg");
}
.hardware-advantages-card1-text {
    width: 480px;
    margin: 32px 0 0 32px;
    display: flex;
    flex-wrap: wrap;
}
.hardware-advantages-card1-text h3 {
    margin: 0;    
    font-size: 30px;    
    font-weight: 700;
    line-height: 34px;    
    color: #1B365D;
}
.hardware-advantages-card1-text p {      
    font-size: 16px;    
    font-weight: 400;
    line-height: 22px;
    color: #434140;
}
.hardware-advantages-card1-text a {
    margin-top: 37px;
    font-size: 14px;    
    font-weight: 700;
    line-height: 20px;
    color: #1B365D;
}

.hardware-advantages-card2-text {
    width: 440px;
    margin: 32px 0 0 32px;
    display: flex;
    flex-wrap: wrap;
}
.hardware-advantages-card2-text h3 {
    margin: 0;    
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    color: white;
}
.hardware-advantages-card2-text p {      
    font-size: 16px;    
    font-weight: 400;
    line-height: 22px;
    color: white;
}
.hardware-advantages-card2-text a {
    margin-top: 15px;
    font-size: 14px;    
    font-weight: 700;
    line-height: 20px;
    color: white;
}

/* ---------------------------------------------------------------- */
/* ------------------------РАЗДЕЛ С ЦЕНАМИ------------------------- */
/* ---------------------------------------------------------------- */

.prices-section {
    height: 927px;
    background-color: #D0E7EA;
}
.prices-wrapper {
    margin: 0 88px;
    display: flex;
    flex-direction: column;
}

.prices-wrapper h2 {    
    margin: 0;
    margin-top: 57px;
    width: 480px;    
    color: #1B365D;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
}

/* спецпредложение */
.special-offer {    
    width: 430px;
      
    margin-top: 27px;  
    background-color: #D0E7EA;
    display: flex;
    align-items: center;
}
.special-offer img {
    width: 86px;
    height: 54px;    
}
.special-offer-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
}
.special-offer-text-wrapper span:nth-child(1) {
    color: #1B365D;    
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}
.special-offer-text-wrapper span:nth-child(2) {
    color: #1B365D;    
    font-size: 14px;
    line-height: 20px;
}

/* карточки товара */
.prices-cards {
    margin: 51px 0 40px 0;
    display: flex;
    justify-content: space-between;
}
.prices-card {
    width: 304px;
    height: 513px;
    display: flex;    
    background-color: #F7F7F7;
    flex-direction: column;
    align-items: center;
}
.pr-card-text {
    margin: 32px 18px 24px 18px;
    width: 268px;    
}
.pr-card-text div:nth-child(1) {    
    float: left;    
    font-size: 20px;
    line-height: 26px;
    color: #1B365D;
}
.pr-card-text div:nth-child(2) sup {
    font-size: 10px;
    line-height: 14px;
    color: #1B365D;
}
.pr-card-text div:nth-child(2) {    
    float: right;
    font-size: 20px;
    line-height: 26px;
    color: #1B365D;
}
.clearfix {
    clear: both;
}
.pr-figure {
    margin-top: 0;
    margin-bottom: 0;
}
.pr-figure figcaption {
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: #434140;
}
.buy-now {
    margin-top: 31px;
    width: 108px;
    height: 46px;
    background-color: #1877F2;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy-now a {    
    font-size: 15px;
    line-height: 20px;
    color: white;
    padding: 10px 20px;
}
.prices-card > a {
    margin-top: 25px;    
    font-size: 14px;
    line-height: 20px;
    color: #1B365D;
}

.compare-products {
    margin-left: auto;
    margin-right: auto;
    width: 193px;
    height: 46px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;    
    border: 0;
}
.compare-products a {    
    font-size: 14px;
    line-height: 20px;
    color: #1B365D;
    padding: 10px 20px;
    /* padding: 0.7vmax; */    
}

/* ---------------------------------------------------------------- */
/* ---------------------------ПОДВАЛ САЙТА------------------------- */
/* ---------------------------------------------------------------- */
footer {
    background-color: #272E38;
    height: 617px;
    display: flex;
}
footer > img {
    margin: 64px 204px 491px 88px;    
}
.footer-options-wrapper {
    margin-top: 65px;    
    display: flex;
    flex-wrap: wrap;
}

.footer-menu-1 {
    width: 108px;
    list-style: none;    
    margin: 0;
    padding: 0;
    height: 210px
}
.footer-menu-1 li {
    margin-bottom: 17px;
}
.footer-menu-1 li:first-child {
    margin-top: 0;
}
.footer-menu-1 li:last-child {
    margin-bottom: 0;
}
.footer-menu-1 li a {
    color: #DADBDD;
    font-size: 13px;
    line-height: 21px;
}


.footer-menu-2 {
    width: 76px;
    list-style: none;    
    margin: 0;
    padding: 0;
    margin-left: 111px;
    height: 200px
}
.footer-menu-2 li {
    margin-bottom: 15px;
}
.footer-menu-2 li:first-child {
    margin-top: 0;
}
.footer-menu-2 li:last-child {
    margin-bottom: 0;
}
.footer-menu-2 li a {
    color: #DADBDD;
    font-size: 12px;
    line-height: 21px;
}


.footer-options {
    width: 264px;
    height: 210px;
    margin: 0 0 84px 151px;
    display: flex;
    flex-direction: column;
}
.footer-options p {
    margin: 0;
    color: #9CA5B0;
    font-size: 14px;
    line-height: 20px;
}
.footer-options button {    
    margin-top: 15px;
    width: 103px;
    height: 40px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;    
    border: 0;
}
.footer-options button a {    
    font-size: 14px;
    line-height: 20px;
    color: #1B365D;
    padding: 12px 23px;
    /* padding: 0.7vmax; */    
}
.footer-options select {
    width: 250px;
    height: 40px;
    margin-top: 52px;
    text-align: center;    
    background-color: #272E38;
    border: 1px solid #3D434C;
    box-sizing: border-box;
    border-radius: 5px;
    appearance: none;
    color: white;
    font-size: 11px;
    line-height: 17px;
}
.terms-and-copyrights {
    display: flex;
    flex-wrap: wrap;
    margin-top: -55px;
}

.terms-and-copyrights p {
    font-size: 11px;
    line-height: 17px;
    color: #9CA5B0;
}
.terms-and-copyrights p:first-child {
    margin-top: 0;
    width: 770px;
}
.terms-and-copyrights p:nth-child(2) {
    margin-top: 0;
    width: 815px;
}
.terms-and-copyrights p:last-child {
    margin-top: 0;
    margin-bottom: 61px;
    width: 805px;
}
.terms-and-copyrights p:first-child a {
    color: inherit;
    text-decoration: underline;
}
